@forward "../_layout/grid";
@use "../_variables/colors" as vars;

// Toggle Buttons
.view_toggle {
  display: flex;
  margin-bottom: 20px;

  button {
    padding: 8px 2px 8px 2px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    color: #777;
    font-weight: bold;
    background-color: vars.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &.active {
      color: vars.$light-black;
      border-bottom: 2px solid vars.$light-black;
    }
  }
}

// Table Header
.table_header {
  width: 100%;
  table-layout: fixed; // Ensure proper column alignment
  border-collapse: collapse;

  th {
    padding: 10px;
    background: vars.$white;
    text-align: left;
    font-weight: 700;
    font-size: 0.8rem;
    border-top: 1px solid vars.$light-grey-300;
    color: #777;
  }
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
  // font-size: rem;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: vars.$todo-table-header;
  cursor: pointer;
  font-weight: bold;
}

// Content & Table Styling
.accordion_content {
  // padding: 10px;
  background-color: vars.$light-grey-200;
}

.task_icons {
  transition: all 300ms;
  &_1 {
    // margin-right: 0.5rem;
    color: vars.$grey-500;
    &:hover {
      transform: scale(1.1);
    }
  }
  &_2 {
    cursor: pointer;
    // margin-right: 0.5rem;
    color: vars.$grey-500;
    &:hover {
      transform: scale(1.1);
      color: vars.$grey-600;
    }
  }
  &_3 {
    margin-right: 0.5rem;
    color: vars.$grey-500;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      color: vars.$grey-600;
    }
  }
  // width: 1%;
  // display: inline;
}
.accordion_content_table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;

  tbody .task_status {
    display: inline-block;
    background: #d2d2d2;
    text-align: center;
    padding: 1px 5px;
    border-radius: 5px;
  }

  &_head {
    display: none;
  }
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
  th,
  td {
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    &:first-child {
      display: flex;
      // justify-content: center;
      align-items: center;
    }
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
}

.empty_accordion {
  padding: 5rem;
  text-align: center;
}

@media (max-width: 992px) {
}
@media (max-width: 600px) {
  tbody .task_status {
    display: none !important;
  }
  .task_category {
    display: none !important;
  }
  .task_due_date {
    display: none !important;
  }
}
