@forward "../_layout/grid";
@use "../_variables/colors" as vars;

// Toggle Buttons
.view_toggle {
  display: flex;
  margin-bottom: 20px;

  button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background: #ddd;
    font-weight: bold;

    &.active {
      background: #007bff;
      color: white;
    }
  }
}

// Table Header
.table_header {
  width: 100%;
  table-layout: fixed; // Ensure proper column alignment
  border-collapse: collapse;

  th {
    padding: 10px;
    background: vars.$white;
    text-align: left;
  }
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: vars.$todo-table-header;
  cursor: pointer;
  font-weight: bold;
}

// Content & Table Styling
.accordion_content {
  // padding: 10px;
  background-color: vars.$light-grey-200;
}

.accordion_content_table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;

  &_head {
    display: none;
  }

  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
}

// Board View
.board_view {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;

  .board_column {
    flex: 1;
    min-width: 200px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .board_header {
    font-weight: bold;
    background: #ccc;
    padding: 5px;
    border-radius: 3px;
  }

  .board_content {
    margin-top: 10px;
  }
}
