@forward "../../../../styles/components/table";
@forward "../../../../styles/components/button";
@use "../../../../styles/_variables/colors" as vars;
.add_form_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; // Ensures proper alignment
  gap: 10px; // Adds spacing between elements
  align-items: center;
  width: 100%;
  padding: 10px 0;

  & input,
  & select {
    font-family: "urbanist", sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid vars.$light-grey-400;
    border-radius: 4px;
    box-sizing: border-box;
  }
  // Fix select and date width issues
  & select,
  & input[type="date"] {
    appearance: none; // Ensures uniform styling
    -webkit-appearance: none; // For Safari
    -moz-appearance: none; // For Firefox
    height: 40px; // Matches other inputs
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr; // Two columns on tablets
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; // Single column on mobile
  }
}
