// Login page background color
$background-color: #fff9f9;
$navbar-background-color: #faeefc;

// Table colors
$todo-table-header: #fac3ff;
$progress-table-header: #85d9f1;
$completed-table-header: #ceffcc;

//Button colors
$add-button-color: #7b1984;
$logout-button-color: #fff9f9;
$logout-button-border-color: #ebd8e8;

//Greys
$light-grey-200: #f1f1f1;
$light-grey-300: #e7e7e7;
$light-grey-400: #ccc;
$grey-500: #acacac;
$grey-600: #777;

$light-black: #212121;
$white: #fff;
$red: #ff0000;
$green: #008000;
