// Login page background color
$background-color: #fff9f9;

// Table colors
$todo-table-header: #fac3ff;
$progress-table-header: #85d9f1;
$completed-table-header: #ceffcc;

//Button colors
$add-button-color: #7b1984;

//Greys
$light-grey-200: #f1f1f1;

$light-black: #212121;
$white: #fff;
