@use "../../styles/_variables/colors" as vars;
@forward "../../styles/components/button";

.nav_navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$navbar-background-color;
}

.user_img_name_container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;

  .user_profile_pic {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transition: transform 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .user_name {
    color: #777;
    letter-spacing: 1px;
    font-weight: 600;
  }

  // User setting dropdown
  .user_setting_card {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
        &:not(:last-child){
            font-size: 1rem;
        }
        &:hover:not(:last-child) {
          background-color: vars.$logout-button-color;
        }
      }
      li button {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap : 1rem
      }
    }
  }

  // Show dropdown on hover
  &:hover .user_setting_card {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
