@forward "../../../../styles/_layout/grid";
@use "../../../../styles/_variables/colors" as vars;
@forward "../../../../styles/components/table";

.section_table_todo {
  padding: 20px;
}

.empty_task_style {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
